<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movizoone</title>
    <link rel="shortcut icon" href="../public/img/Movizone-logo.png" type="image/x-icon" class="invert">
    <link rel="stylesheet" href="./public/style.css">

</head>

<body class="">
    <!-- Header  -->
    <%- include('header.ejs') %>
        <!-- Header end  -->

        <main class="bg-gray-900">
            <!-- Trending section  -->
            <section id="trending" class="py-12 border-t border-t-gray-600">
                <h1 class="p-6 pt-0 mt-6 px-8 text-2xl font-semibold text-white">TRENDING</h1>
                <div class="flex overflow-y-hidden overflow-x-scroll gap-24 p-6 pb-20 scrollbar scrollbar-thumb-zinc-400 scrollbar-width-2 scrollbar-track-transparent ">

                    <% movieDataArrays[0].forEach(data=> { %>
                        <a href="/singlemovie?id=<%= data.id %>" alt="<%= data.title %>" class=" border border-black hover:opacity-80 focus:opacity-80 hover:shadow-none focus:shadow-none shadow-xl shadow-gray-800 bg-gray-900 ">   
                                <div class="min-w-[300px]  min-h-[300px] trending-card overflow-hidden">
                                    <%- `<img src="https://image.tmdb.org/t/p/original/${data.poster_path}"
                                        class="max-w-[300px] w-full h-max" alt="">` %>
                                        <p
                                            class="bg-transparent flex flex-col text-white px-4 pb-2 pt-4"><span class="pt-2 pl-1 ">
                                                <%= data.vote_average.toFixed(1) %>
                                            </span>
                                            <span class="font-semibold text-lg  border-b border-b-gray-200">
                                                <%= data.title %>
                                            </span>
                                        </p>
                                </div>
                            </a>
                    <% }); %>
                </div>
            </section>
            <!-- New released section  -->
            
            <section id="newrelease" class="py-12 border-t border-t-gray-600">
                <h1 class="p-6 px-8 text-2xl font-semibold">NEW RELEASES</h1>
                <div class="flex overflow-y-hidden overflow-x-scroll gap-24 p-6 pb-20 scrollbar scrollbar-thumb-zinc-400 scrollbar-width-2 scrollbar-track-transparent ">

                    <% movieDataArrays[1].forEach(data=> { %>
                        <a href="/singlemovie?id=<%= data.id %>" alt="<%= data.title %>" class=" border border-black hover:opacity-80 focus:opacity-80 hover:shadow-none focus:shadow-none shadow-xl shadow-gray-800 bg-gray-900 ">   
                                <div class="min-w-[300px]  min-h-[300px] trending-card overflow-hidden">
                                    <%- `<img src="https://image.tmdb.org/t/p/original/${data.poster_path}"
                                        class="max-w-[300px] w-full h-max" alt="">` %>
                                        <p
                                            class="bg-transparent flex flex-col text-white px-4 pb-2 pt-4">
                                            <span class="text-white"> <%= data.release_date %></span>
                                            <span class="py-1 pl-1 ">
                                                <%= data.vote_average.toFixed(1) %>
                                            </span>
                                            <span class="font-semibold text-lg  border-b border-b-gray-200">
                                                <%= data.title %>
                                            </span>
                                        </p>
                                </div>
                            </a>
                    <% }); %>
                </div>
            </section>

            <!-- Action section  -->
            <section id="action" class="py-12 border-t border-t-gray-600">
                <h1 class="p-6 px-8 text-2xl  font-semibold text-white">ACTION</h1>
                <div class="flex overflow-y-hidden overflow-x-scroll gap-24 p-6 pb-20 scrollbar scrollbar-thumb-zinc-400 scrollbar-width-2 scrollbar-track-transparent ">

                    <% movieDataArrays[2].forEach(data=> { %>
                        <a href="/singlemovie?id=<%= data.id %>" alt="<%= data.title %>" class=" border border-black hover:opacity-80 focus:opacity-80 hover:shadow-none focus:shadow-none shadow-xl shadow-gray-800 bg-gray-900 ">   
                                <div class="min-w-[300px]  min-h-[300px] trending-card overflow-hidden">
                                    <%- `<img src="https://image.tmdb.org/t/p/original/${data.poster_path}"
                                        class="max-w-[300px] w-full h-max" alt="">` %>
                                        <p
                                            class="bg-transparent flex flex-col text-white px-4 pb-2 pt-4">
                                            <span class="pt-2 pl-1 ">
                                                <%= data.vote_average.toFixed(1) %>
                                            </span>
                                            <span class="font-semibold text-lg  border-b border-b-gray-200">
                                                <%= data.title %>
                                            </span>
                                        </p>
                                </div>
                            </a>
                    <% }); %>
                </div>
            </section>
            <!--  Animated Section  -->
            <section id="animated" class="py-12 border-t border-t-gray-600">
                <h1 class="p-6 px-8 text-2xl font-semibold text-white">ANIMATED </h1>
                <div class="flex overflow-y-hidden overflow-x-scroll gap-24 p-6 pb-20 scrollbar scrollbar-thumb-zinc-400 scrollbar-width-2 scrollbar-track-transparent ">

                    <% movieDataArrays[3].forEach(data=> { %>
                        <a href="/singlemovie?id=<%= data.id %>" alt="<%= data.title %>" class=" border border-black hover:opacity-80 focus:opacity-80 hover:shadow-none focus:shadow-none shadow-xl shadow-gray-800 bg-gray-900 ">   
                                <div class="min-w-[300px]  min-h-[300px] trending-card overflow-hidden">
                                    <%- `<img src="https://image.tmdb.org/t/p/original/${data.poster_path}"
                                        class="max-w-[300px] w-full h-max" alt="">` %>
                                        <p
                                            class="bg-transparent flex flex-col text-white px-4 pb-2 pt-4">
                                            <span class="pt-2 pl-1 ">
                                                <%= data.vote_average.toFixed(1) %>
                                            </span>
                                            <span class="font-semibold text-lg  border-b border-b-gray-200">
                                                <%= data.title %>
                                            </span>
                                        </p>
                                </div>
                            </a>
                    <% }); %>
                </div>
            </section>
        </main>

        <!-- Footer  -->
        <%- include('./footer.ejs') %>
            <script src="./public/index.js"></script>
</body>

</html>