<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movizoone</title>
    <link rel="shortcut icon" href="../public/img/Movizone-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./public/style.css">

</head>

<body class="m-0 p-0">
    <!-- Header  -->
    <%- include('header.ejs') %> 
    <main>
        <section id="movieimg">
            <% movieDetails.forEach(movieDetail => { %>
                
            <div class=" min-w-full min-h-screen flex flex-wrap sm:flex-nowrap p-6 bg-gray-700" >
                <div class="img-container min-h-screen overflow-hidden sm:max-w-[50vh] drop-shadow-lg shadow-white">
                   <img src="https://image.tmdb.org/t/p/original/<%= movieDetail.poster_path %>" class="movie-poster min-h-screen" alt="">
                </div>
                <div class="p-12 flex flex-col flex-wrap gap-1 text-white">
                    <p id="movie-name" class="text-5xl sm:text-7xl font-semibold"><%= movieDetail.title %> </p>
                    <div class="flex flex-col flex-wrap pl-2">
                        <p id="genre" class="text-xl"> <% genres.forEach(genre => { %>
                            <span><%= genre.name %>,</span>
                      <%  }); %></p>
                        <p id="release-date" class="text-xl pt-6"><%= movieDetail.release_date %>  </p>
                        <p id="rating" class="font-semibold text-lg pt-6">Rating :<%= movieDetail.vote_average %>  </p> 
                        <p class="block pt-6 font-semibold text-3xl">
                            Overview :
                            <p id="preview" class="m-0 text-lg pt-4">
                                <%= movieDetail.overview %> </p>
                            </p>
                    </div>
                    
                </div>
            </div>
            <% }); %>
        </section>
    </main>
    
    <!-- Footer  -->
    <%- include('footer.ejs') %> 
    <script src="./public/index.js"></script>
</body>

</html>